{% extends "base.html.twig" %}

{% block title cdc.title %}

{% block body %}
    {# <rapport>
            <h2>Titre du rapport</h2>
            <div class="metadata">Rapport du 10/05/2020 à 15:00</div>
            <a href="" class="btn btn-primary">Telecharger le rapport</a>
    </rapport> #}

    <div class="jumbotron">
        <div class="container">
            <h1>Cahier des charges: {{ cdc.title }} du {{ cdc.createdAt | date("m/d/Y") }} à {{ cdc.createdAt | date("H:i") }}</h1>
        </div>
    </div>

    <div class="container mt-4">
        <div class="col-md-6">
            <h2>Fonction : {{ cdc.fonction }}</h2>
            <h2>Objectif : {{ cdc.objectif }}</h2>
            <h2>Description : {{ cdc.description | nl2br }}</h2>
            <h2>Contrainte : {{ cdc.contrainte }}</h2>
            <h2>Priorité : {{ cdc.priority }}</h2>

            <a href="" class="btn btn-primary">Telecharger le rapport</a>
        </div>
    </div>
{% endblock %}